.sendMail{
    position: absolute;
    bottom: 0px;
    right: 50px;
    background-color: #404040;
    width: 40%;
    height: 45%;
    max-width: 500px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
}

.sendMail__header{
    padding: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;
}

.sendMail>form{
display: flex;
flex-direction: column;
}

.sendMail>form>input{
    height: 30px;
    padding:10px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(171, 171, 171);
}

.sendMail__button{
    background-color: rgb(85, 85, 222);
    margin: 15px;
    color: white;
}
.sendMail__close{
    cursor: pointer;
}


.sendMail__error{
    color: red;
    background-color: white;
    padding-left: 10px;
}