.sidebar__compose{
    margin-top: 10px !important;
    margin-left: 10px !important;
    margin-bottom: 10px !important;
    border-radius: 30px !important;
    color: gray !important;
    padding: 10px !important;
    box-shadow: 0px 2px 5px -2px;
}

.sidebar__compose:hover{
    background-color: rgb(239, 238, 238) !important;
}

.sidebar{
    flex: 0.25;
}

.sidebar >a{
    text-decoration: none;
}

.side{
    display: flex;
    overflow: hidden;
    flex: 1;
}

.sidebar__child{
    flex: 0.75;
    overflow: hidden;
    height: 80vh;
    width: 70vh;
}

